<h2>My Heroes</h2>
<ul class="heroes">
    <!-- use *ngFor (repeater directive) to iterate through list of heroes -->
    <li *ngFor="let hero of heroes">
        <button [class.selected]="hero === selectedHero" type="button" (click)="onSelect(hero)">
            <span class="badge">{{hero.id}}</span>
            <span class="name">{{hero.name}}</span>
        </button>
    </li>
</ul>
<!-- if selectedHero exists, this div will render -->
<div *ngIf="selectedHero">
    <h2>{{selectedHero.name | uppercase}} Details</h2>
    <div>
        id: {{selectedHero.id}}
        <div>
            <label for="hero-name">Hero Name: </label>
            <input type="text" id="hero-name" [(ngModel)]="selectedHero.name" placeholder="name">
        </div>
    </div>
</div>