<div id="search-component">
    <label for="search-box">Hero Search</label>
    <input #searchBox id="search-box" (input)="search(searchBox.value)" />

    <ul class="search-result">
        <!-- $ convention indicates heroes$ object is an Observable, not an array -->
        <!-- We pipe |async to indefy AsyncPipe and subscribe to an Observable automatically. -->
        <label *ngFor="let hero of heroes$ | async">
            <a routerLink="/detail/{{hero.id}}">
                {{hero.name}}
            </a>
        </label>
    </ul>
</div>